:root {
  --opacity: 0.07;

  --main-color-rgb: 0, 62, 230;
  --main-color: rgb(var(--main-color-rgb));
  --main-color-translucent: rgba(var(--main-color-rgb), var(--opacity));

  --white: rgb(255, 255, 255);

  --black-rgb: 0, 0, 0;
  --black: rgb(var(--black-rgb));
  --black-opacity: 0.6;
  --black-translucent: rgba(var(--black-rgb), var(--black-opacity));

  --correct-rgb: 102, 226, 213;
  --correct: rgb(var(--correct-rgb));
  --correct-translucent: rgba(var(--correct-rgb), var(--opacity));

  --wrong-rgb: 254, 0, 0;
  --wrong: rgb(var(--wrong-rgb));
  --wrong-translucent: rgba(var(--wrong-rgb), var(--opacity));
}

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  padding: 12px;
  font-family: 'Archivo Black', 'Arial Black', sans-serif;
  font-size: 100%;
  background-color: var(--white);
}

header {
  text-align: center;
}

h1 {
  display: inline-block;
  position: relative;
  margin: 0 0 2rem 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: default;
  font-size: 2rem;
  font-weight: 900;
}

footer {
  margin: 5rem 0 3rem;
  font-family: Arial, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
}

footer a {
  color: var(--main-color);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.chars {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
}

.chars__char {
  width: 2.6rem;
  height: 3rem;
  flex-shrink: 0;
  display: block;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.25rem;
  border: 0 solid var(--main-color);
  border-bottom-width: 3px;
  font-size: 1.5rem;
  text-align: center;
}

.chars__char--is-letter {
  border-width: 2px 2px 4px 2px;
}

.keyboard {
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
}

.keyboard__key {
  width: 3rem;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 0;
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: var(--main-color-translucent);
  color: var(--main-color);
  font: inherit;
  font-size: 1.3rem;
  text-align: center;
  cursor: pointer;
}

.keyboard__key--found {
  background-color: var(--correct-translucent);
  color: var(--correct);
  cursor: default;
}

.keyboard__key--is-faulty {
  background-color: var(--wrong-translucent);
  color: var(--wrong);
  cursor: default;
}

.drawing {
  max-width: 80rem;
  margin: 0 auto;
  border: 3px solid var(--main-color);
  box-shadow: 5px 5px 0 1px var(--main-color);
  padding: 1rem;
  text-align: center;
}

.drawing__container {
  width: 20rem;
  max-width: 100%;
  height: 18rem;
  display: inline-block;
  position: relative;
  border-bottom: 3px solid var(--black);
}

.drawing__message {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  text-align: center;
}

.drawing__part {
  position: absolute;
}

.drawing__part-1 {
  width: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--black);
}

.drawing__part-2 {
  height: 3px;
  top: 0;
  right: 50%;
  left: 0;
  background-color: var(--black);
}

.drawing__part-3 {
  width: 3px;
  height: 15%;
  top: 0;
  left: 50%;
  background-color: var(--black);
}

.drawing__part-4 {
  width: 2.5rem;
  height: 2.5rem;
  top: 15%;
  left: calc(50% - 1.25rem + 1.5px);
  border-radius: 100%;
  border: 3px solid var(--black);
  font-weight: 900;
  line-height: 2.3rem;
  font-size: 1.6rem;
  transform: rotate(20deg);
}

.drawing__part-5 {
  width: 3px;
  height: 30%;
  top: calc(15% + 2.5rem);
  left: 50%;
  background-color: var(--black);
}

.drawing__part-6a,
.drawing__part-6b {
  width: 10%;
  height: 3px;
  top: calc(15% + 2.5rem + 1.5rem);
  background-color: var(--black);
}

.drawing__part-6a {
  left: calc(50% - 10% + 1.5px);
  transform-origin: right center;
  transform: rotate(20deg);
}

.drawing__part-6b {
  left: calc(50% + 1.5px);
  transform-origin: left center;
  transform: rotate(-20deg);
}

.drawing__part-7a,
.drawing__part-7b {
  width: 25%;
  height: 3px;
  top: calc(45% + 2.5rem - 3px);
  background-color: var(--black);
}

.drawing__part-7a {
  left: calc(50% - 25% + 1.5px);
  transform-origin: right center;
  transform: rotate(-55deg);
}

.drawing__part-7b {
  left: calc(50% + 1.5px);
  transform-origin: left center;
  transform: rotate(55deg);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--black-translucent);
}

.modal__main {
  width: 24rem;
  z-index: 1;
  box-shadow: 5px 5px 0 1px var(--main-color);
  border: 3px solid var(--main-color);
  padding: 1.75rem;
  background-color: var(--white);
}

.modal__content {
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
}

.modal__content em {
  color: var(--main-color);
}

.modal__actions {
  margin-top: 1rem;
  text-align: center;
}

.modal__actions button {
  margin: 0;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: var(--main-color);
  color: var(--white);
  font: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.modal__streak {
  font-size: 0.9rem;
  color: var(--main-color);
}

#mobile-title {
  display: none;
}

@media only screen and (max-width: 768px) {
  #desktop-title {
    display: none;
  }

  #mobile-title {
    display: block;
    font-size: 1.2rem;
  }

  .drawing__container {
    max-width: 60%;
    height: 10rem;
  }

  .drawing__message {
    font-size: 0.8rem;
  }

  .chars {
    padding: 1rem 0rem;
    min-height: 8.1rem;
  }

  .chars__char {
    width: 2.08rem;
    height: 2.4rem;
    line-height: 1.5rem;
  }

  .keyboard {
    padding: 0;
  }

  .keyboard__key {
    margin: 0 0.55rem 0.55rem 0;
    padding: 0.55rem 0;
  }

  .modal__main {
    max-width: 80%;
  }

  footer {
    margin: 1rem 0 0rem;
  }

  .modal {
    top: 10.5rem;
  }
}
